@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Square+Peg&display=swap");
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller-Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
}
html,
body {
  height: 100%;
  font-family: "font", sans-serif; /*шрифт*/
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-family: "Muller-Bold";
  font-size: 55px;
  line-height: 120%;
  text-align: left;
}

h2 {
  font-family: "Muller-Bold";
  font-size: 40px;
  line-height: 40px;
  text-align: left;
}

@media (max-width: 991px) {
  body.lock {
    overflow: hidden;
  }
}

.header {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-family: "Muller";
  font-size: 16px;
}
.header--fixed {
  position: fixed !important;
  left: 0;
  top: 0;
  background: #333333;
  z-index: 50;
  transition: all 0.2s ease 0s;
}
@media (max-width: 991px) {
  .header {
    background: #333333;
    position: static;
  }
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  height: 60px;
  display: block;
}
@media (max-width: 991px) {
  .header__logo img {
    height: 60px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 991px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 1;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
}
@media (max-width: 991px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #333333;
    padding: 112px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
}
.header__list {
  display: flex;
  position: relative;
  z-index: 1;
}
.header__list li {
  list-style: none;
  margin: 0 0 0 32px;
}
@media (max-width: 1080px) {
  .header__list li {
    margin: 0 0 0 24px;
  }
}
@media (max-width: 991px) {
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin: 0 0 30px 0;
  }
}
.header__dropdown {
  margin-top: 16px;
  position: absolute;
  display: none;
  z-index: 1;
  background: #333333;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}
.header__dropdown .header__item {
  margin: 0;
}
.header__dropdown .header__link {
  display: inline-block;
  padding: 16px;
}
@media (max-width: 991px) {
  .header__dropdown {
    position: static;
    margin-top: 16px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: none;
    background: #2b2b2b;
  }
}
.header__link {
  text-decoration: none;
}
@media (max-width: 991px) {
  .header__link {
    display: block;
    font-size: 24px;
    width: 100%;
  }
}

.header--mob-menu {
  position: fixed;
  z-index: 50;
}
.header--mob-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 1;
}

.welcome {
  height: 560px;
  background: #333333;
  margin-bottom: 313px;
}
.welcome__circles-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 64px;
}
@media (max-width: 991px) {
  .welcome {
    margin-bottom: 32px;
  }
  .welcome--lock {
    margin-top: 76px;
  }
  .welcome .links {
    display: none;
  }
  .welcome__circles-container {
    display: none;
  }
}

.welcome-swiper {
  height: 468px;
  margin-top: -220px;
}

.swiper-slide {
  padding-right: 48px;
}

.swiper-slide-img {
  max-width: 100%;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-left: 20px;
  overflow: hidden;
}

.swiper-sllide-top {
  overflow: hidden;
}

.swiper-sllide-top-content {
  position: absolute;
  top: 45%;
  left: 0;
  max-width: 730px;
  transform: translateY(-50%);
  margin-left: 128px;
  color: #fff;
}

.swiper-sllide-top-content-title {
  margin-bottom: 6px;
}

.swiper-sllide-top-content-subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: left;
}

.swiper-sllide-bottom {
  height: 72px;
  display: flex;
}

.swiper-sllide-bottom-left {
  flex: none;
  width: 151px;
  height: 100%;
}

.swiper-sllide-bottom-right {
  width: 100%;
  max-width: 994px;
  height: 100%;
  background: #2257BF;
}

.swiper-sllide-link {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 72px;
  color: #FFFFFF !important;
  width: 100%;
  text-align: right;
  padding-right: 36px;
}

.swiper-square {
  position: absolute;
  top: 159px;
  background: #2257BF;
  width: 96px;
  height: 102px;
}

.swiper-pagination-bullets {
  top: 0 !important;
  bottom: 100% !important;
}

.swiper-pagination-bullet {
  margin: 0;
  margin-bottom: 13px !important;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  width: 11px;
  height: 11px;
}

.swiper-pagination-bullet-active {
  width: 11px;
  height: 64px;
  background: #fff;
}

.links {
  margin-left: 20px;
  margin-top: -53px;
}

@media (max-width: 991px) {
  .welcome {
    background: none;
  }
  .welcome .container {
    padding: 0;
  }
  .welcome-swiper {
    margin-top: 0;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-slide {
    padding-right: 0;
  }
  .swiper-square {
    display: none;
  }
  .swiper-slide-img {
    margin-left: 0;
  }
  .swiper-sllide-bottom-left {
    width: 0;
  }
  .swiper-sllide-top-content {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .swiper-sllide-top-content img {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
  }
  .swiper-sllide-top-content-title,
.swiper-sllide-top-content-subtitle {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .swiper-sllide-top-content-subtitle {
    display: none;
  }
  .swiper-sllide-top-content-title {
    font-size: 40px;
  }
  .swiper-sllide-link {
    padding-right: 0;
    text-align: center;
  }
}
.slider-info {
  margin-bottom: 129px;
}
@media (max-width: 991px) {
  .slider-info {
    margin-bottom: 32px;
  }
}

.swiper-slide {
  padding-right: 0;
}

.info-swiper .swiper-slide {
  display: flex;
  gap: 64px;
}

.info-swiper-left-img {
  width: 578px;
  height: 408px;
}

.info-swiper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 556px;
}

.info-swiper-right-content-title {
  margin-bottom: 64px;
}

.info-swiper-right-content-subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135.2%;
}

.info-swiper-right-content-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135.2%;
  color: #315FD9 !important;
}

.info-swiper-right-bottom {
  display: flex;
  justify-content: space-between;
}

.info-swiper-right-bottom-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: auto;
  height: auto;
  margin-top: 0;
  z-index: 10;
  display: block;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after {
  content: none;
}

@media (max-width: 768px) {
  .slider-info .container {
    padding: 0;
  }
  .info-swiper .swiper-slide {
    flex-direction: column;
    gap: 48px;
  }
  .info-swiper-left-img {
    height: 204px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-swiper-right {
    margin: 0 auto;
    padding: 0 10px;
  }
  .info-swiper-right-content {
    text-align: center;
  }
  .info-swiper-right-content-title {
    text-align: center;
    margin-bottom: 48px;
    font-size: 32px;
  }
  .info-swiper-right-content-link {
    display: inline-block;
    margin: 0 auto 24px;
  }
}
.galery {
  margin-bottom: 164px;
}
@media (max-width: 575px) {
  .galery .container {
    padding: 0;
  }
}
.galery__list {
  display: flex;
  flex-wrap: wrap;
}
.galery__link {
  position: relative;
  width: 33.3%;
  overflow: hidden;
}
.galery__link::before {
  background: linear-gradient(to top, hsla(0deg, 0%, 0%, 0.79) 0%, hsla(0deg, 0%, 0%, 0.787) 7.8%, hsla(0deg, 0%, 0%, 0.779) 14.4%, hsla(0deg, 0%, 0%, 0.765) 20.2%, hsla(0deg, 0%, 0%, 0.744) 25.3%, hsla(0deg, 0%, 0%, 0.717) 29.9%, hsla(0deg, 0%, 0%, 0.683) 34.3%, hsla(0deg, 0%, 0%, 0.641) 38.7%, hsla(0deg, 0%, 0%, 0.592) 43.3%, hsla(0deg, 0%, 0%, 0.534) 48.4%, hsla(0deg, 0%, 0%, 0.468) 54.1%, hsla(0deg, 0%, 0%, 0.393) 60.6%, hsla(0deg, 0%, 0%, 0.31) 68.3%, hsla(0deg, 0%, 0%, 0.216) 77.3%, hsla(0deg, 0%, 0%, 0.113) 87.7%, hsla(0deg, 0%, 0%, 0) 100%);
  transition: 300ms opacity linear;
}
.galery__link::after {
  background: linear-gradient(45deg, hsla(5deg, 97%, 63%, 0.7) 0, hsla(5deg, 97%, 63%, 0) 100%);
  opacity: 0;
  transition: 300ms opacity linear;
}
.galery__link:hover :is(h2), .galery__link:focus :is(h2) {
  transform: none;
}
.galery__link:hover::after, .galery__link:focus::after, .galery__link:hover::before, .galery__link:focus::before {
  opacity: 0.7;
}
.galery__link:hover img, .galery__link:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}
.galery__link:hover h2, .galery__link:focus h2 {
  bottom: 50px;
  transition: 0.4s ease;
  text-shadow: 3px 6px 0px #ED115C;
}
.galery__link h2 {
  transition: 0.4s ease;
}
@media (max-width: 991px) {
  .galery__link {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .galery__link {
    width: 100%;
  }
}
.galery__link--big {
  width: 66.6%;
}
.galery__link--big .galery__title {
  max-width: 100%;
}
@media (max-width: 991px) {
  .galery__link--big {
    order: -1;
    width: 100%;
  }
}
.galery__img {
  height: 318px;
  width: 100%;
  z-index: -1;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}
@media (max-width: 575px) {
  .galery__img {
    height: 218px;
  }
}
.galery__title {
  position: absolute;
  bottom: 40px;
  left: 24px;
  font-family: "Muller-Bold";
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  text-shadow: 3px 3px 0px #ED115C;
  transition: 300ms transform ease;
  max-width: 376px;
}
@media (max-width: 768px) {
  .galery__title {
    left: 16px;
  }
}
@media (max-width: 575px) {
  .galery__title {
    left: 10px;
  }
}/*# sourceMappingURL=style.css.map */