.footer {
    background: #333333;

    &__header {
        text-align: center;
        color: #fff;
        padding-top: 48px;
        margin-bottom: 64px;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 96px;

        @media (max-width: 991px) {
            flex-direction: column;
            gap: 64px;
        }
    }

    &__map {
        width: 45%;
        height: 500px;

        @media (max-width: 991px) {
            width: 100%;
            height: 300px;
        }
    }

    &__contacts-item {
        max-width: 430px;
        display: flex;
        gap: 64px;
        align-items: flex-start;
        margin-bottom: 64px;

        @media (max-width: 575px) {
            gap: 64px 32px;
            margin-left: 32px;
        }
    }

    &__contacts-icon {
        width: 34px;
        object-fit: fill;
    }

    &__contacts-title,
    &__contacts-text {
        max-width: 160px;
        color: #fff;
    }

    &__contacts-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }

    &__contacts-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }

    &__contacts-text--phone {
        max-width: 200px;
    }

    &__contacts-link {
        font-family: 'Muller-Bold';
        color: #fff !important;
        padding: 24px 170px;
        font-size: 20px;
        background: #ED115C;

        @media (max-width: 575px) {
            display: block;
            max-width: 100%;
            width: 100%;
            padding: 24px 0;
            text-align: center;
        }
    }

    &__contacts-right {
        @media (max-width: 575px) {
            width: 100%;
        }
    }

    & .line::after {
        border: none;
        border-bottom: 2px solid #fff;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;

        @media (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 64px;
        }
    }

    &__img {
        height: 100px;

        @media (max-width: 575px) {
            width: 100%;
            height: auto;
        }
    }

    &__link-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    &__link-text--underline {
        text-decoration-line: underline;
    }

    & .links {
        margin: 0;
        display: none;

        @media (max-width: 991px) {
            display: flex;
            justify-content: center;
            gap: 32px;
            margin-bottom: 64px;
        }

        @media (max-width: 575px) {
            gap: 16px;
        }
    }

    &__copyright-text {
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 32px;
    }
}