.news {
    margin-bottom: 129px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    &__all-link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #315FD9 !important;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px 16px;

        @media (max-width: 991px) {
            justify-content: space-around;
        }

        @media (max-width: 575px) {
            gap: 48px 16px;
        }
    }

    &__item {
        width: 30%;
        font-family: 'Muller';
        font-weight: 500;
        font-size: 16px;
        line-height: 135.2%;

        @media (max-width: 991px) {
            width: 45%;
        }

        @media (max-width: 575px) {
            width: 100%;
        }
    }

    &__img {
        height: 210px;
        width: 100%;
        margin-bottom: 8px;
    }

    &__date {
        opacity: 0.7;
    }

    &__item-title {
        font-family: 'Muller-Bold';
        font-size: 18px;
        margin-bottom: 8px;
    }
}
