.slider-info {
    margin-bottom: 129px;

    @media (max-width: 768px) {
        margin-bottom: 32px;
    }
}

.swiper-slide {
    padding-right: 0;
}

.info-swiper .swiper-slide {
    display: flex;
    gap: 64px;
}

.info-swiper-left-img {
    width: 578px;
    min-width: 300px;
    height: 408px;
}

.info-swiper-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 556px;
}

.info-swiper-right-content-title {
    margin-bottom: 64px;
}

.info-swiper-right-content-subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135.2%;
}

.info-swiper-right-content-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135.2%;
    color: #315FD9 !important;
}

.info-swiper-right-bottom {
    display: flex;
    justify-content: space-between;
}

.info-swiper-right-bottom-button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.swiper-button-next, 
.swiper-button-prev {
    position: static;
    width: auto;
    height: auto;
    margin-top: 0;
    z-index: 10;
    display: block;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after {
    content: none;
}

@media (max-width: 768px) {

    .slider-info .container {
        padding: 0;
    }

    .info-swiper .swiper-slide {
        flex-direction: column;
        gap: 48px;
    }

    .info-swiper-left-img {
        height: 204px;
        width: 100%;
        object-fit: cover;
    }

    .info-swiper-right {
        margin: 0 auto;
        padding: 0 10px;
    }

    .info-swiper-right-content {
        text-align: center;
    }

    .info-swiper-right-content-title {
        text-align: center;
        margin-bottom: 48px;
        font-size: 32px;
    }

    .info-swiper-right-content-link {
        display: inline-block;
        margin: 0 auto 24px;
    }

}